{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block content %}

    <h1 style="float:center; text-align:center;"> List of measurements :  </h1>
    <ul>
            {%for (run,timestamp) in run_list%}
            <li> <a href="/static/WEB_PAGE/{{run}}/index.html">{{run}}</a> (last modified : {{timestamp}})</li>
            {%endfor%}
    </ul>
{% endblock %}

{% block footer %}
{% endblock %}

