{% extends "base.html" %}
{% block header %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}

{% block content %}

<div id="plot_rate"></div>
<h3>Latest spills integrated rate :</h3>
<div id="latest_spills"></div>
{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{url_for('static',filename='plots_spill_viewer.js')}}"></script>
{% endblock %}
